
{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email mike@dipuce.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

(inttls) {
    tls /etc/ssl/app.dipuce.com/fullchain.cer /etc/ssl/app.dipuce.com/app.dipuce.com.key
}

app.app.dipuce.com {
    import inttls
    reverse_proxy /adguard/* 10.100.1.204
}

dns.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.204
}

unifi.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.1
}

# ProxMox
pve.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.158:8006
}

# Portainer
docker.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.139:9443
}

# TrueNas Scale
storage.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.115
}

# HomeAssistant
ha.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.203:8123
}