
{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email mike@dipuce.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

(inttls) {
    tls /etc/ssl/app.dipuce.com/fullchain.cer /etc/ssl/app.dipuce.com/app.dipuce.com.key
}

app.app.dipuce.com {
    import inttls
    reverse_proxy /adguard/* 10.100.1.204
}

dns.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.204
}

unifi.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.1
}

# ProxMox
pve.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.158:8006
}

# Portainer
docker.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.139:9443
}

# TrueNas Scale
storage.app.dipuce.com {
    import inttls
    reverse_proxy 10.100.1.115
}

# HomeAssistant
ha.app.dipuce.com {
    import inttls
    reverse_proxy https://10.100.1.203:8123 {
        transport http {
            tls_server_name ha.app.dipuce.com
        }
        header_up Host {upstream_hostport}
    }
}

# n8n
n8n.app.dipuce.com {
    reverse_proxy 10.100.1.208:5678
}

usenet.app.dipuce.com {
    reverse_proxy 10.100.1.209:6789
}

torrent.app.dipuce.com {
    reverse_proxy 10.100.1.209:8080
}

prowlarr.app.dipuce.com {
    reverse_proxy 10.100.1.209:9696
}

sonarr.app.dipuce.com {
    reverse_proxy 10.100.1.210:8989
}

radarr.app.dipuce.com {
    reverse_proxy 10.100.1.211:7878
}

lidarr.app.dipuce.com {
    reverse_proxy 10.100.1.212:8686
}

bazarr.app.dipuce.com {
    reverse_proxy 10.100.1.213:6767
}

jellyseerr.app.dipuce.com {
    reverse_proxy 10.100.1.215:5055
}

media.app.dipuce.com {
    reverse_proxy 10.100.1.216:8096
}

dashboard.app.dipuce.com {
    reverse_proxy 10.100.1.217:7575
}

cloud.app.dipuce.com {
    reverse_proxy 10.100.1.218:11000
}